@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/* Nav bar setion */
.hello{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.hello1{
    background: rgb(172,27,59);
    background: linear-gradient(90deg, rgba(172,27,59,1) 0%, rgba(80,167,203,1) 100%); */
    
}
.hello1 li a{
    color: white;
    
    
}
.morphling{
    background: rgb(98,213,222);
background: linear-gradient(90deg, rgba(98,213,222,1) 0%, rgba(38,41,42,1) 100%);
}

.drawranger{
    background: rgb(63,84,112);
    background: linear-gradient(90deg, rgba(63,84,112,1) 0%, rgba(38,41,42,1) 100%);
  
}

.doom{
    background: rgb(122,64,85);
background: linear-gradient(90deg, rgba(122,64,85,1) 0%, rgba(38,41,42,1) 100%);
}
.terrorblade{
    background: rgb(79,59,63);
background: linear-gradient(90deg, rgba(79,59,63,1) 0%, rgba(38,41,42,1) 100%);
}

.darkseer{
    background: rgb(138,79,172);
background: linear-gradient(90deg, rgba(138,79,172,1) 0%, rgba(38,41,42,1) 100%);
}

.click{
    background-color: #504f50;
}


/* end nav bar section */

/* banner section */
.wallpaper{
    background-image: url(img/dotaa.jpg);
    background-repeat: no-repeat;
    
    height: 965px;
    
    
    
}
.lts{
    letter-spacing: 2px;
}
/* EBOOK section */
.kokan{
    height: 342px;
}
.hyp{
    height: 319px;
}
.little{
    height: 319px;
}
.littlehtet{
    background-color: #B1044F;
    border: none;
    padding: 8px 0px;
    
}
.htet{
    text-decoration: none;
    color: white;
}
.copp{
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* END EBOOK SECTION */

/* Team section */

.yg{
    height:550px;
}
.vet{
    height:574px;
}
.bg{
    height: 550px;
}

.facebook{
    height: 255px;
}
.telegram{
    height: 255px;
}